<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>RingCentral voice analytics</title>
    <script src="js/main.js" type="text/javascript"></script>
    <script src="js/jquery-3.1.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.3/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.3/css/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="./css/ui.css">
    <script type="text/javascript">
    </script>
</head>
<body  onload="initForRecordedCalls()">
  <nav id="menu_header" class="navbar navbar-default no-border">
    <span class="left-middle-align">
      <span class="rclogo"><a href="/"><img alt="Brand" src="img/ringcentral.png" height="40"></a></span>&nbsp;&nbsp;
      <span class="title">Voice Analytics</span>
    </span>
    <ul class="nav navbar-nav navbar-right middle-align">
      <li><span><b>&nbsp;&nbsp;<%- userName %>&nbsp;&nbsp;</b></span></li>
      <li><a href="/about">&nbsp;&nbsp;About</a></li>
      <li><a href="/#">&nbsp;|&nbsp;</a</li>
      <% if (userLevel != 'demo') { %>
      <li><a href="#" onclick="logout()">Logout</a></li>
      <% } %>
    </ul>
  </nav>
  <script>
    window.calls = <%- JSON.stringify(calls) %>;
    window.userName = '<%- userName %>';
  </script>
  <section id='content'>
    <div id="search_bar" class="row">
      <div class="col-xs-12 search-block">
        <!--form action="/search" method="POST" class="form-inline"-->
        <form class="form-inline" id="searchForm" action="/search" method="POST">
          <div class="form-group">
            <div class="input-group">
              <select name='fields' class="input-group-btn selectpicker filter-select search-input-filter">
                <% if (fieldArg == 'all') { %>
                  <option selected value='all'>All</option>
                <% } else { %>
                  <option value='all'>All</option>
                <% } %>
                <% if (fieldArg == 'transcript') { %>
                  <option selected value='transcript'>Transcript</option>
                <% } else { %>
                  <option value='transcript'>Transcript</option>
                <% } %>
                <% if (fieldArg == 'keywords') { %>
                  <option selected value='keywords'>Keywords</option>
                <% } else { %>
                  <option value='keywords'>Keywords</option>
                <% } %>
              <!--
                <% if (fieldArg == 'concepts') { %>
                  <option selected value='concepts'>Concepts</option>
                <% } else { %>
                  <option value='concepts'>Concepts</option>
                <% } %>
              -->
                <% if (fieldArg == 'from') { %>
                  <option selected value='from'>From</option>
                <% } else { %>
                  <option value='from'>From</option>
                <% } %>
                <% if (fieldArg == 'to') { %>
                  <option selected value='to'>To</option>
                <% } else { %>
                  <option value='to'>To</option>
                <% } %>
                <% if (fieldArg == 'extension') { %>
                  <option selected value='extension'>Extension</option>
                <% } else { %>
                  <option value='extension'>Extension</option>
                <% } %>
              </select>
              <input type="text" class="form-control search-input" name="search" placeholder="Search calls" value="<%= searchArg %>" id="search" required onfocus="selectSelectText()">
            </div>
            &nbsp;
            <button class="btn-rc" id="search" onclick="startSearch();">Search</button>

            <label for="types" class="filter-label">Filter by</label>
            <select name='types' class="selectpicker filter-select" onchange="startSearch()">
              <% if (typeArg == '') { %>
                <option value="" disabled selected>Call Type</option>
              <% } %>
              <% if (typeArg == 'all') { %>
                <option value='all'>All</option>
              <% } else { %>
                <option value='all'>All</option>
              <% } %>
              <% if (typeArg == 'CR') { %>
                <option selected value='CR'>Call recording</option>
              <% } else { %>
                <option value='CR'>Call recording</option>
              <% } %>
              <% if (typeArg == 'VM') { %>
                <option selected value='VM'>Voicemail</option>
              <% } else { %>
                <option value='VM'>Voicemail</option>
              <% } %>
              <% if (typeArg == 'VR') { %>
                <option selected value='VR'>Video Demo</option>
              <% } else { %>
                <option value='VR'>Video Demo</option>
              <% } %>
              <% if (typeArg == 'PR') { %>
                <option selected value='PR'>Call Demo</option>
              <% } else { %>
                <option value='PR'>Call Demo</option>
              <% } %>
            </select>
            <select id="sentiment-option" name='sentiment' class="selectpicker filter-select" onchange="startSearch()">
              <% if (sentimentArg == '') { %>
                <option value="" disabled selected>Sentiment</option>
              <% } %>
              <% if (sentimentArg == 'all') { %>
                <option value='all'>All</option>
              <% } else { %>
                <option value='all'>All</option>
              <% } %>
              <% if (sentimentArg == 'positive') { %>
                <option selected value='positive'>Positive</option>
              <% } else { %>
                <option value='positive'>Positive</option>
              <% } %>
              <% if (sentimentArg == 'negative') { %>
                <option selected value='negative'>Negative</option>
              <% } else { %>
                <option value='negative'>Negative</option>
              <% } %>
              <% if (sentimentArg == 'neutral') { %>
                <option selected value='neutral'>Neutral</option>
              <% } else { %>
                <option value='neutral'>Neutral</option>
              <% } %>
            </select>
          </div>
          <select name="categories" class="selectpicker filter-select" id="categoryField" onchange="startSearch()">
          <% var categoryArr = JSON.parse(categories) %>
          <% if (catIndex == '') { %>
            <option value="" disabled selected>Category</option>
          <% } %>
            <option value="all">All</option>
          <% for (var i = 0; i < categoryArr.length; i++) { %>
            <% if (catIndex == categoryArr[i]) { %>
            <option value="<%= categoryArr[i] %>"><%= categoryArr[i] %></option>
            <% } else { %>
            <option value="<%= categoryArr[i] %>"><%= categoryArr[i] %></option>
            <% } %>
          <% } %>
          </select>
        </form>
      </div>
    </div>
    <div class="row table-content">
      <div id="call_list" class="col-xs-12 table-header">
        <table class="table">
          <thead id="call_list_header">
            <tr class="header">
              <th width="2%">
                <input type=checkbox width=10 height=10 onchange="selectionHandler(this)"/>
              </th>
              <!--th width="2%">Dur</th-->
              <th width="5%">Type</th>
              <th width="10%">Employee</th>
              <th width="10%">Customer</th>
              <th width="12%">Date/Time</th>
              <th width="8%">Sentiment</th>
              <th width="12%">Subject</th>
              <th width="41%">Keywords</th>
            </tr>
          </thead>
          <tbody id="call_items" class="scrollable_calllist call_list" style="height: 400px">
            <% for (var i = 0; i < calls.length; i++) { %>
            <tr>
              <td width="2%" class="td-active">
                <input type="checkbox" id="sel_<%= calls[i]['uid'] %>" onchange="selectForDelete(this, '<%= calls[i]['uid'] %>', '<%= calls[i]['call_type'] %>', '<%= calls[i]['rec_id'] %>')" />
              </td>
              <!--td width="2%" class="td-inactive">
                <% var duration = parseInt(calls[i].duration) %>
                <% var min = "00" %>
                <% if (duration > 60) { %>
                  <% var min = parseInt(duration / 60) %>
                  <% min = (min < 10) ? '0' + min.toString() : min.toString() %>
                  <% var sec = duration % 60 %>
                  <% sec = (sec < 10) ? '0' + sec.toString() : sec.toString() %>
                  <span><%= min + ":" + sec %></span>
                <% } else { %>
                <% duration = (duration < 10) ? '0' + duration.toString() : duration.toString() %>
                <span><%= "00:" + duration %></span>
                <% } %>
              </td-->
              <td width="5%" class="td-active">
                <% var icon = 'img/' + calls[i]['call_type'] + '.png' %>
                  <img src='<%= icon %>' ></img>
              </td>
              <td width="10%" class="td-active">
                <!--div><%= calls[i]['full_name'] %></div-->
                <% if (calls[i].direction == "Out") { %>
                  <% if (calls[i]['from_name'] != "Unknown") { %>
                    <% if (calls[i]['from_number'] != "Unknown #") { %>
                      <div><a href="rcmobile://call?number=<%= calls[i]['from_number'] %>"><%= calls[i]['from_name'] %></a></div>
                    <% } else { %>
                      <div><%= calls[i]['from_name'] %></div>
                    <% } %>
                  <% } else { %>
                    <% if (calls[i]['from_number'] != "Unknown #") { %>
                      <div><a href="rcmobile://call?number=<%= calls[i]['from_number'] %>"><%= calls[i]['from_number'] %></a></div>
                    <% } else { %>
                      <div><%= calls[i]['from_name'] %></div>
                    <% } %>
                  <% } %>
                <% } else { %>
                  <% if (calls[i]['to_name'] != "Unknown") { %>
                    <% if (calls[i]['to_number'] != "Unknown #") { %>
                      <div><a href="rcmobile://call?number=<%= calls[i]['to_number'] %>"><%= calls[i]['to_name'] %></a></div>
                    <% } else { %>
                      <div><%= calls[i]['to_name'] %></div>
                    <% } %>
                  <% } else { %>
                    <% if (calls[i]['to_number'] != "Unknown #") { %>
                      <div><a href="rcmobile://call?number=<%= calls[i]['to_number'] %>"><%= calls[i]['to_number'] %></a></div>
                    <% } else { %>
                      <div><%= calls[i]['to_name'] %></div>
                    <% } %>
                  <% } %>
                <% } %>
              </td>
              <td width="10%" class="td-active">
              <% if (calls[i].direction == "In") { %>
                <% if (calls[i]['from_name'] != "Unknown") { %>
                  <% if (calls[i]['from_number'] != "Unknown #") { %>
                    <div><a href="rcmobile://call?number=<%= calls[i]['from_number'] %>"><%= calls[i]['from_name'] %></a></div>
                  <% } else { %>
                    <div><%= calls[i]['from_name'] %></div>
                  <% } %>
                <% } else { %>
                  <% if (calls[i]['from_number'] != "Unknown #") { %>
                    <div><a href="rcmobile://call?number=<%= calls[i]['from_number'] %>"><%= calls[i]['from_number'] %></a></div>
                  <% } else { %>
                    <div><%= calls[i]['from_name'] %></div>
                  <% } %>
                <% } %>
              <% } else { %>
                <% if (calls[i]['to_name'] != "Unknown") { %>
                  <% if (calls[i]['to_number'] != "Unknown #") { %>
                    <div><a href="rcmobile://call?number=<%= calls[i]['to_number'] %>"><%= calls[i]['to_name'] %></a></div>
                  <% } else { %>
                    <div><%= calls[i]['to_name'] %></div>
                  <% } %>
                <% } else { %>
                  <% if (calls[i]['to_number'] != "Unknown #") { %>
                    <div><a href="rcmobile://call?number=<%= calls[i]['to_number'] %>"><%= calls[i]['to_number'] %></a></div>
                  <% } else { %>
                    <div><%= calls[i]['to_name'] %></div>
                  <% } %>
                <% } %>
              <% } %>
              </td>
              <td width="12%" class="td-active">
              <% let options = {  month: 'short',day: 'numeric',year: 'numeric',hour: '2-digit',minute: '2-digit'}; %>
              <% var d = new Date(parseInt(calls[i]['call_date'])).toLocaleDateString("en-US", options) %>
              <div><%= d %></div>
              </td>

              <td width="8%" class="td-active">
                <% if (calls[i]['processed'] == false) { %>
                  <div id="st_<%= calls[i]['uid'] %>" >--</div>
                <% } else { %>
                  <% var icon = 'img/' %>
                  <% icon += calls[i]['sentiment_label'] %>
                  <% icon += '.png' %>
                  <img id="st_<%= calls[i]['uid'] %>" src='<%= icon %>' class="sentiment_icon"></img>
                <% } %>
              </td>
              <td width="12%" class="td-active">
              <% if (calls[i]['processed'] == false) { %>
                <img style="display: none;" class="call_icon" id="pi_<%= calls[i]['uid'] %>" src="./img/processing.gif"></img>
                <div class="transcript_brief" id="ts_<%= calls[i]['uid'] %>">--</div>
              <% } else { %>
                <span><%= calls[i]['subject'] %></span>
              <% } %>
              </td>
              <td width="41%" class="td-active">
              <% if (calls[i]['processed'] == false) { %>
                <div id="tt_<%= calls[i]['uid'] %>">--</div>
              <% } else { %>
                <span class="transcript_brief" id="tt_<%= calls[i]['uid'] %>">
                  <% var itemArr = JSON.parse(calls[i].keywords) %>
                  <% var count = itemArr.length %>
                  <% for (var ii=1; ii < count; ii++) { %>
                    <% var item =itemArr[ii] %>
                    <span class="keyword"><%= item.text %> </span>
                    <% if (ii > 4) { %>
                      <% break %>
                    <% } %>
                  <% } %>
                  <% if (count > 5) { %>
                    ...
                  <% } %>
                  <!--
                  <% var itemArr = JSON.parse(calls[i].sentiments) %>
                  <% for (var item of itemArr) { %>
                    <% if (item.hasOwnProperty('positive')) { %>
                      <% for (var pos of item.positive) { %>
                        <% if (pos.topic != null) { %>
                          <span class="positive-topic"><%- pos.topic %></span>
                        <% } %>
                      <% } %>
                    <% } %>
                    <% if (item.hasOwnProperty('negative')) { %>
                      <% for (var neg of item.negative) { %>
                        <% if (neg.topic != null) { %>
                          <span class="negative-topic"><%- neg.topic %></span>
                        <% } %>
                      <% } %>
                    <% } %>
                  <% } %>
                  -->
                </span>
              <% } %>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
  </div>
  </section>
  <%- include('_footer') %>
</body>
</html>
